table p {
  margin: 0 0 ($vertical-rhythm / 3);
}

@include hasta('sm') {
  table,
  tbody,
  tr,
  td,
  th {
    display: block;
  }

  thead {
    @include screen-reader();
  }

  tr {
    border-bottom: 2px solid $silver;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  td, th {
    &::before {
      content: attr(data-label) ': ';
      font-weight: bold;
      text-transform: capitalize;
    }

    p {
      display: inline;
    }
  }
}
